<div class="card-container">
  <button class="test-request-greeting-btn card card-small" (click)="requestGreeting()" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
    </svg>
    <span>Request Greeting</span>
  </button>
</div>

<!-- Terminal -->
<div class="terminal">
  <pre data-testid="terminal-line-greeting" class="test-terminal-line-greeting">{{greeting | async}}</pre>
</div>
